@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Just+Another+Hand&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #a8b99b;
    user-select: none;
    font-family: 'Gamja Flower', cursive;   
}

nav, .container, .add-content{
    overflow: hidden;
}

.container, nav, .timer-indicator, .footer{
    background-color: #D4E7C5;
    border-radius: 15px;
}

button, input{
    cursor: pointer;
}



.selector {
    transition: transform 0.4s ease;
    cursor: pointer;
}

.selector:active {
    transform: scale(0.8);
}


.container{
    position: relative;
    border: 1px dashed grey;
    max-width: 390px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.menu{
    border: 2px solid black;
    font-family: 'Gamja flower', cursive;
    font-size: 1.4em;
    z-index: 200;
    position: absolute;
    top: 0;
    left: -230px;
    width: 230px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background-color: #D4E7C5;
    transition: left 0.3s ease;
}

.menu.active{
    left: 0;
}

.menu-nav{
    display: flex;
    justify-content: end;
    background-color: transparent;
}

#menu-nav-close{
    font-size: 1.8em;
    font-weight: 600;
    margin: 10px;
    margin-right: 15px;

}

.info-container{
    top: -25px;
    text-align: start;
    margin-left: 20px;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.info-container ul{
    padding-bottom: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-container ul li{
    cursor: pointer;
    color: #333;
    font-size: 1.5em;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

.share-icon-container{
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    max-height: 0;    
    display: flex;
    align-items: center;
    gap: 10px;
}

.share-icon-container.active{
    max-height: 100px;
}

nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    min-height: 20%;
    margin-bottom: 0px;
}

.hamburger-shop-container{
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 20px;
}

#shop-icon{
    cursor: pointer;
}

.hamburger-shop-container{
    background-color: transparent;
    display: flex;
    gap: 20px;
}

#shop-icon{
    cursor: pointer;
}

.hamburger-menu{
    margin-left: 4px;
    background-color: transparent;
    cursor: pointer;
}

.coins {
    margin-right: 15px;
    padding-left: 24px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 3px solid #333;
    border-radius: 25px;
    background-color: #fde4f2;
    width: fit-content;
    animation: float 0.6s ease-in-out 1;
}


.coins p {
    font-size: 1.6em;
    text-shadow: 1.5px 1.5px rgba(63, 10, 10, 0.2);
    color: black;
    font-weight: 700px;
    background-color: transparent;
    border-radius: 2px;
}

#coins_logo {
    position: absolute;
    transform: translateX(-39px) translateY(0px)
}

svg{
    background-color: transparent;
}

.timer-indicator{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
}

.countdown{
    color: #333;
    cursor: pointer;
    font-family: 'Gamja Flower', cursive;
    font-weight: 500px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 4.2em;
}
#countdown.active{
    color: #5eb0f3;
}


.countdown-background.p{
    border: 3px solid #85BC8C;
    box-shadow: 1px 1px 19px #85BC8C;
}
.countdown-background.pause{
    border: 3px solid #e2f35e;
    box-shadow: 1px 1px 23px #e2f35e;
}
.countdown-background.stop{
    border: 3px solid #ee1f1f;
    box-shadow: 1px 1px 23px #ee1f1f;
}

.pause-stop-button-container{
    transition: transform 0.4s ease-in-out;
    position: absolute;
    justify-content: center;
    bottom: 70%;
    transform: scale(0);
    display: flex;
    gap: 70px;
}

.pause-stop-button-container.active{
    transform: scale(1);
}

.play-button-container.inactive{
    transform: scale(0);
}

.play-button-container{
    z-index: 10;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50px;
    margin-top: 0px;
    width: fit-content;
}


.slider-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.startTimeEL{
    background-color: #85B4BC;
    color: #F7F7F7;
    padding: 5px;
    border-radius: 8px;
    font-family: 'Gamja Flower', cursive;
    font-size: 1.3em;
    border: 3px solid black;
    font-weight: 500;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);

}

#rangeEL{
    margin-bottom: 20px;
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 20px;
    background: linear-gradient(90deg,#BC8C85 0%, #BC8C85 0%);
    border-radius: 8px;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border: 3px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

#rangeEL::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: #85B4BC;
    border-radius: 50%;
    border: 3px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.footer{
    width: 100%;
    height: 200px;
}

#time-modal{
    color: black;
    transform: scale(0);
    transition: 200ms ease-in-out;
    bottom: 60%;
    border-radius: 12px;
    position: fixed;
    background-color: #99BC85; 
    border: 3px solid #333;
    z-index: 200;
    width: 50%;
    height: 200px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);

}

.close-button {
    color: black;
}

#time-modal.active{
    transform: scale(1);
}
 
#time-modal-header{
    padding: 7px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

#time-modal-header p{
    font-family: 'Gamja Flower', cursive ;
    font-size: 1.4em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding-right: 70px;
}

.time-modal-text{
    color: #E1F0DA;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 30px;
}

.close-button{
    width: 20px;
    border: none;
    background-color: transparent;
    font-size: 1.8em;
}

#time-modal-close{
    padding-right:  25px;
}

.time-modal-submit{
    font-family: 'Gamja Flower', cursive ;
    font-size: 1.4em;
    color: #333;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #fde4f2;
    width: 80px;
    height: 40px;
    border: 3px solid #333;
    border-radius: 8px;
}

.time-modal-content{
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.currency-modal.active{
    transform: scale(1);
}

#coin-logo{
    background-image: url('/images/coin-front-svgrepo-com.png');
    background-size: 20px;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.currency-modal{
    transform: scale(0);
    border: 3px solid black;
    width: 100%;
    transition: 200ms ease-in-out;
    bottom: 67%;
    border-radius: 12px;
    position: fixed;
    background-color: #99BC85; 
    z-index: 200;
    width: 150px;
    height: fit-content;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.currency-modal-nav{
    display: flex;
    justify-content: end;
}

.currency-modal-nav button{
    color: #333;
    margin-right: 10px;
    border: none;
    font-size: 1.8rem;
    background-color: transparent;
}

.currency-modal h3{
    color: #333;
    padding-top: 5px;
    padding: 2px 10px 10px
}

.currency-modal span{
    font-weight: bolder;
    color: #d85f33;
}

#sidebar {
    position: absolute;
    top: 0;
    left: -250px; /* Off-screen by default */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease; /* Smooth transition */
}

#sidebar.active {
    left: 0; /* Move sidebar into view */
}

.shop-modal{
    z-index: 200px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: 1px solid black;
    transform: scale(0);
    transition: 200ms ease-in-out;
    bottom: 49%;
    border-radius: 12px;
    position: fixed;
    background-color: #E1F0DA; 
    border: 3px solid black;
    z-index: 200;
    width: 300px;
    height: 280px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.shop-modal.active{
    transform: scale(1);
}

.shop-modal-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
}

.shop-modal h3{
    font-family: 'Gamja Flower', cursive;
    font-size: 1.5rem;
    color: black;
}

.shop-modal-close{
    color: black;

    border: none;
    font-size: 1.8em;
    padding-left: 30px;
    background-color: transparent;
}

.shop-items{
    margin-top: 10px;
    transform: translateY(-7%); 
    border-radius: 8px;
    background-color: #E1F0DA;
    height: 180px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}

#seperator{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.accessories, .tops{
    display: flex;
}

.card{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6px;
    border-radius: 8px;
    box-shadow: 4px 4px rgba(244,184,218, 0.7);
}

.card p{
    background-color: rgb(222, 222, 130);
    padding: 0px 5px;
    border-radius: 8px;
    border: 3px solid black;
}

#quote{
    font-family: "Just Another Hand", cursive;
    color: #BC8C85;
    font-weight: 700;
    background-color: transparent;
    font-size: 1.4em;
    margin-top: 40px;
    animation: float 6s ease-in-out infinite;
}

.room-section{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.room-section #roomEL{
    border: 5px solid #BC8C85;
    border-radius: 101px;
    width: 90%;
}

#cat-sprite{
    background-image: url('/images/cat_costumes/basicCAT/basic.png');
    background-size: cover;
    cursor: pointer;
    display: absolute;
    width: 93px;
    height: 128px;
    z-index: 1;
    transform: translate(0px, -220px);
}

/* #catSprite{
    background-image: url('/images/cat_costumes/basicCAT/basicWave1.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: absolute;
    width: 200px;
    height: 158px;
    z-index: 1;
    transform: translate(60px, -240px);
} */

@keyframes basicCatWave {
    0% {
        background-image: url(/images/cat_costumes/basicCAT/basicWave1.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 158px;
        transform: translate(60px, -240px);

    }
    50% {
        background-image: url(/images/cat_costumes/basicCAT/basicWave2.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 158px;
        transform: translate(60px, -240px);

    }
    100% {
        background-image: url(/images/cat_costumes/basicCAT/basicWave1.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 158px;
        transform: translate(60px, -240px);

    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-2px);
    }
    75% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(0px);

    }
}
.history-nav{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#study-history-title{
    flex: 1 1 auto;
    text-align: center;
}

.history-back-button{
    flex: 0 0 auto;
}

.chart-container{
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 10px ;
    padding: 5px;
    background-color: #BFD8AF;
}

#study-history-chart{
    background-color: transparent;
}

.history-footer{
    height: 100px;
}

#overlay{
    display: none;
    transition: 200ms ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    z-index: 100;
}

#overlay.active{
    display: block;
}

.tdl-nav{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.tdl-back-button{
    flex: 0 0 auto;
}

.tdl-footer{
    height: 100px;
}

#tdl-title{
    flex: 1 1 auto;
    text-align: center;
}

.tdl-container{
    margin: 20px 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #9dac94;
    border-radius: 30px;
    margin-bottom: 25px;
}

#tdl-input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    cursor: auto;
}

#tdl-button{
    border: 2px solid black;
    outline: none;
    padding: 16px 30px;
    background: #a2d283;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

.list-container{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 1px 1px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.list-container::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;

}