*{
    padding: 0;
    margin: 0;
    background-color: #F7F7F7;
    box-sizing: border-box;
}

body{
    user-select: none;
    font-family: 'Kurale', sans-serif;
}

nav, .container, .add-content{
    overflow: hidden;
}

.container, nav, .timer-indicator, .footer{
    background-color: antiquewhite;
}

button, input{
    cursor: pointer;
}


.container {
    border: 1px solid rgb(219, 205, 198); 
    max-width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    background-color: #dbcdc6;
}


nav{
    display: flex;
    gap: 215px;
    justify-content: start;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    width: 100%;
    min-height: 20%;
    background-color: #dbcdc6;
}

.hamburger-menu{
    
    background-color: transparent;
    cursor: pointer;
}

#line1, #line2, #line3{
    background-color: #660000;
    border-radius: 4px;
    height: 5px;
    width: 35px;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 5;
}

.change #line1{
    transform: translate(0, 11px) rotate(-45deg);
}

.change #line2{
    opacity: 0;
}

.change #line3{
    transform: translate(0, -11px) rotate(45deg);
}

.coins {
    padding-left: 30px;
    padding-right: 8px;
    background-color: #660000;
    color: #dbcdc6;
    border: 1px solid #dbcdc6;
    border-radius: 25px;
    width: fit-content;
}

.coins p {
    background-color: #660000;
    border-radius: 2px;
}

#coins_logo {
    width: 10%;
    height: 10%;
}

svg{
    background-color: transparent;
}

.timer-indicator{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid ghostwhite;
    width: 100%;
    height: 200px;
    background-color: #dbcdc6;
}

#countdown{
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 40px;
}

#timer-button{
    cursor: pointer;
    margin-top: 30px;
    width: 30%;
    height: 15%;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    transition: 200ms ease-in-out;
}

#timer-button.endTimer{
    color: #F7F7F7;
    background-color: rgb(225, 16, 16);
    cursor: pointer;
    margin-top: 30px;
    width: 30%;
    height: 15%;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}


.footer{
    border: 1px solid rgb(248, 248, 255);
    width: 100%;
    height: 200px;
    background-color: #dbcdc6;
}

#time-modal{
    transform: scale(0);
    transition: 200ms ease-in-out;
    bottom: 60%;
    border-radius: 8px;
    position: fixed;
    background-color: #d8e2eb; 
    border: 1px solid black;
    z-index: 10;
    width: 200px;
    height: 100px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);

}

#time-modal.active{
    transform: scale(1);
}
 
#time-modal-header{
    padding: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#time-modal-header p{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding-right: 70px;
}

#time-modal-close{
    width: 20px;
    padding-right:  25px;
    border: none;
    background-color: transparent;
    font-size: 1.8em;
}

#time-modal-submit{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #9BE198;
    margin-left: 20px;
    width: 50px;
    height: 30px;
    border: 1px solid ghostwhite;
    border-radius: 8px;
}


#time-modal-selector{
    background-color: transparent;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 80px;
    height: 30px;
}

#overlay{
    display: none;
    pointer-events: none;
    transition: 200ms ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
}

#overlay.active{
    display: block;
}


#sidebar {
    position: absolute;
    top: 0;
    left: -250px; /* Off-screen by default */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease; /* Smooth transition */
}

#sidebar.active {
    left: 0; /* Move sidebar into view */
}