*{
    padding: 0;
    margin: 0;
    background-color: #F7F7F7;
    box-sizing: border-box;
}

body{
    user-select: none;
    font-family: 'Kurale', sans-serif;
}

nav, .container, .add-content{
    overflow: hidden;
}

.container, nav, .timer-indicator, .footer{
    background-color: antiquewhite;
}

button, input{
    cursor: pointer;
}


.container{
    border: 1px solid rgb(185, 167, 167);
    max-width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}

nav{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    width: 100%;
    min-height: 20%;
}

.hamburger-menu{
    
    background-color: transparent;
    cursor: pointer;
}

#line1, #line2, #line3{
    background-color: black;
    border-radius: 4px;
    height: 5px;
    width: 35px;
    margin: 6px 0;
    transition: 0.4s;
}

.change #line1{
    transform: translate(0, 11px) rotate(-45deg);
}

.change #line2{
    opacity: 0;
}

.change #line3{
    transform: translate(0, -11px) rotate(40deg);
}

.timer-indicator{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid pink;
    width: 100%;
    height: 200px;
}

#countdown{
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 40px;
}

#timer-button{
    cursor: pointer;
    margin-top: 30px;
    width: 30%;
    height: 15%;
    font-size: 20px;
    border-radius: 10px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
    
}

.footer{
    border: 1px solid red;
    width: 100%;
    height: 200px;

}

.time-modal{
    transform: scale(0);
    transition: 200ms ease-in-out;
    bottom: 60%;
    border-radius: 8px;
    position: fixed;
    background-color: antiquewhite; 
     border: 1px solid black;
     z-index: 10;
     width: 200px;
     height: 100px;
}

.time-modal.active{
    transform: scale(1);
}
 
#time-modal-header{
    padding: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#time-modal-header p{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding-right: 70px;
}

#time-modal-close{
    width: 20px;
    padding-right:  25px;
    border: none;
    background-color: transparent;
    font-size: 1.8em;
}

#time-modal-submit{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(227, 198, 159);
    margin-left: 20px;
    width: 50px;
    height: 30px;
    border-radius: 8px;
}


#time-modal-selector{
    background-color: transparent;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 80px;
    height: 30px;
}

.overlay{
    opacity: 0;
    pointer-events: none;
    transition: 200ms ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
}






